<%- include('../includes/head.ejs') %>
<%- include('../includes/header.ejs') %>
<main>
  <div style="max-width: 400px;margin-left: auto;margin-right: auto;">
        <% if (errorMessage) { %>
            <div class="user-message user-message--error"><%= errorMessage %></div>
        <% } %>
        <form class="login-form" action="/auth/signup" method="POST">
            <h1>Sign Up</h1>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" name="name" 
                class="form-control <%= validationErrors.find(e => e.param === 'name') ? 'invalid' : '' %>" aria-describedby="emailHelp" 
                placeholder="Enter Name"
                value="<%= oldInput.name %>"
                >
              </div>
            <div class="form-group">
              <label for="email">Email address</label>
              <input type="email" name="email" 
              class="form-control <%= validationErrors.find(e => e.param === 'email') ? 'invalid' : '' %>" 
              aria-describedby="emailHelp" 
              placeholder="Enter email"
              value="<%= oldInput.email %>"
              >
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" name="password" 
              class="form-control <%= validationErrors.find(e => e.param === 'password') ? 'invalid' : '' %>" 
              placeholder="Password"
              value="<%= oldInput.password %>"
              >
            </div>
            <div class="form-group">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" name="confirmPassword" 
                class="form-control  <%= validationErrors.find(e => e.param === 'confirmPassword') ? 'invalid' : '' %>" 
                placeholder="Password"
                value="<%= oldInput.confirmPassword %>"
                >
              </div>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button type="submit" class="btn btn-primary">Signup</button>
          </form>
    </main>
    <%- include('../includes/footer.ejs') %>